@*Strongly typed view*@
@model Cat;   

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@using (Html.BeginForm()) {

    <div>
        @Html.LabelFor(x => x.Name)
        @Html.TextBoxFor(x => x.Name, new { @class= "form-control" })
    </div>

    <div>
        @Html.LabelFor(x=> x.Description)
        @Html.TextBoxFor(x => x.Description, new { @class= "form-control" })
    </div>

    <div>
        @Html.LabelFor(x=>x.Gender)

        @Html.DropDownListFor(x=>x.Gender, Html.GetEnumSelectList<Gender>(),"Select your cats Gender")
    </div>

    <div>
        @Html.LabelFor(x =>x.ProfilePicture)
        @Html.TextBoxFor(x=>x.ProfilePicture)
    </div>

    <button type="submit" class="btn btn-primary">Save Cat</button>
}